*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.con{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
#logo{
    padding: 0px;
    margin: 0px;
    height: 90px;
    width: 90px;
    position: absolute;
    bottom: 15px;
    top: 3px;
    left: 10px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a .active{
    background-color: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 10000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountain_frount{
    z-index: 10;
}
#text{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1.2em;
    color: #fff;
}
/*what we offfer section*/
.container{
    min-height: 100vh;
    width: 100%;
    background-color: #1c0522;
}
.service-wrapper{
    padding: 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #fff;
    font-size: 5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(8deg, rgba(8, 5, 52, 1) 0%, rgba(0, 230, 173, 1) 41%, rgba(41, 17, 45, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}

h1 span {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 88%;
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}
.card{
    height: 370px;
    width: 370px;
    background-color: #1c2335;
    padding: 3% 8%;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 8px;
    transition: .6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter:blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.card:hover:after{
    width: 225%;
    top: -100%;
}
.card i{
    color: #72e2ae;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 4.8rem;
}
.card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card p{
    text-align: center;
    width: 100%;
    margin: 12px 0px;
    color: rgba(255, 255, 255, 0.6);
}
.card:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
.card:hover i{
    color: #00ff37;
}
@media  screen and (max-width:1200px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}@media  screen and (max-width:900px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }

    h1{
        font-size: 3.5rem;
    }
}

/*team deatales*/
.con2{
    background-color: #1c0522;
}
#team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.team-heading h3{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(8deg, rgba(8, 5, 52, 1) 0%, rgba(0, 230, 173, 1) 41%, rgba(41, 17, 45, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative
}
.team-heading h3::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 80%;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    
}
h3 span {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #72e2ae;
    animation: anim 5s linear infinite;
}

@keyframes anim {
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        left: 88%;
    }
}
.team-heading{
    padding-bottom: 100px;
}
/***** box ****************/
.team-box{
    width: 100%;
    padding: 20px;
    user-select: none;
}
.t-b-img{
    width: 100%;
    height: 330px;
    position: relative;
}
.t-b-img::after{
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(28, 5, 34, 0) 0%, rgba(28, 5, 34, 1) 100%);
}
.t-b-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    filter: grayscale(1);
}
.t-b-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t-b-text strong{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
.t-b-text span{
    color:  rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
}
.team-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
.team-social a{
    margin: 0px 5px;
    color: #fff;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.team-social a:hover{
    color: #00ff37;
}
.button {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
  }
  
  .button:focus,
  .button:hover {
    color: #00ff37;
  }
  
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
.swiper{
    max-width: 745px;
    width: 100%;
    padding-bottom: 50px;
}
.swiper-slide{
    width: 300px !important;
    opacity: 0.2;
    margin: 50px 0px;
    margin-top: 0px;
}
.swiper-slide-active{
    opacity: 1;
    border: 0.2px solid rgba(114, 226, 174, 0.2);
    border-radius: 5px;
}
.swiper-slide-active:hover{
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #00ff37;
}
@media(max-width:724px){
    .team-heading h3{
        font-size: 2.5rem;
    }
    .team-heading{
        padding-bottom: 50px;
        text-align: center;
    }
}




.foot-con{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #1c0522;
}

footer{
     position: relative;
     width: 100%;
     background: #3586ff;
     min-height: 100px;
     padding: 20px 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;

}
footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social_icon li,
footer .menu li{
    list-style: none;

}
footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
font-size: 1.2em;
color: #fff;
margin: 0 10px;
display: inline-block;
text-decoration: none;
opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 s linear infinite;
}


@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
